.stats{
    padding:100px 20px;

    background:linear-gradient(
        135deg,
        #020617,
        #0f172a,
        #1d4ed8
    );

    color:white;
}

.stats-container{
    max-width:1400px;
    margin:auto;
    text-align:center;
}

.stats-grid{
    margin-top:50px;

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
}

.stat-card{
    padding:40px;
    border-radius:20px;

    background:rgba(255,255,255,.05);

    border:1px solid rgba(255,255,255,.1);

    backdrop-filter:blur(10px);
}

.stat-icon{
    font-size:40px;
    color:#60a5fa;
}

.stat-card h3{
    font-size:42px;
    margin:20px 0;
}

@media(max-width:992px){
    .stats-grid{
        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:768px){
    .stats-grid{
        grid-template-columns:1fr;
    }
}